# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized. We will explore various tools, frameworks, and technologies that are commonly used by data scientists to analyze, visualize, and manipulate data.

## some of the key takeaways from the course:

**Objectives:**

- Create markdown cells.
- List popular languages for Data Science.
- list commonly used Data Science libraries.
- Add comments to code cells.
- Format content of markdown cells with heading styles.

## Some of the popular languages that Data Scientists use are:

* **Python**
* **R**
* **SQL**
* **Scala**
* **Java**
* **C++**
* **Julia**
* **JavaScript**
* **PHP**
* **Go**
* **Ruby**
* **Visual Basic**

## Some of the commonly used libraries used by Data Scientists include:

* **Pandas**
* **NumPy**
* **Matplotlib**
* **Seaborn**
* **Scikit-learn**
* **Keras**
* **TensorFlow**
* **PyTorch**
* **Apache Spark**
* **Vegas**
* **Big DL**
* **Ggplot2**

## Data Science Tools

| Data Science Tools            |
|-------------------------------|
| Anaconda                      |
| Jupyter Notebook              |
| RStudio                       |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Nazanin Haerian